<%= simple_form_for([:admin,@event]) do |f| %>
    <%= f.input :event_name, label: 'Title' %>
    <label>Event Description</label>
    <%= f.input_field :description %>
    <label>Photo</label>
    <%= f.input_field :photo, as: :file %>
    <%= f.input :date, label: 'Date', as: :date %>
    <%= f.button :submit, @event.new_record? ? 'Post Event' : 'Update Event', class: 'btn btn-success btn-block btn-medium' %>
<% end %>
<div class="divided-20"></div>