<%= link_to 'New Event', new_admin_event_path, class:'btn btn-block btn-primary' %>
<div class="divided-20"></div>
<table class="table table-condensed"  id="table">
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">Id</th>
    <th data-field="photo" data-sortable="false">Photo</th>
    <th data-field="event" data-sortable="true">Event</th>
    <th data-field="date" data-sortable="date">Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= cl_image_tag(event.photo, height: '60px', width: '60px') %></td>
        <td><%= event.event_name %></td>
        <td>
          <%= event.date %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', admin_event_path(event), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="divided-20"></div>