<%= link_to 'Add Photo', new_admin_project_photo_path, class: 'btn btn-block btn-primary' %>
<div class="divided-20"></div>
<table data-toggle="table"
       data-height="700"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[5,8,10]"
        data-toggle="table" data-classes="table table-hover table-condensed">
  <thead>
  <tr>
    <th data-field="photo" data-sortable="false">Photo</th>
    <th data-field="gallery" data-sortable="true">Gallery</th>
    <th data-field="caption" data-sortable="true">Caption</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @project_photos.each do |photo| %>
      <tr>
        <td><%= cl_image_tag photo.photo, height: '80px' %></td>
        <td><%= photo.try(:event_gallery).try(:name) %></td>
        <td><%= simple_format photo.caption %></td>
        <td>
          <%= link_to 'Edit', edit_admin_event_photo_path(photo), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', admin_event_photo_path(photo), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>