<%= simple_form_for([:admin, @article]) do |f| %>
    <%= f.input :title, label: 'Title' %>
    <%= f.input :author, label: 'Author' %>
    <%= f.input_field :text,  {'id' => 'text'} %>
    <%= f.association :category, label: 'Category' %>
    <%= f.association :tags, label: 'Tags' %>
    <label>Photo</label>
    <%= f.input_field :photo, as: :file %>
    <%= f.button :submit, @article.new_record? ? 'Post Article' : 'Update Article', class: 'btn btn-success btn-block btn-medium' %>
<% end %>
<div class="divided-20"></div>