<%= link_to 'New Article', new_admin_article_path, class:'btn btn-block btn-primary' %>
<div class="divided-20"></div>
<table id="table"
       data-toggle="table"
       data-height="700"
       data-pagination="true"
       data-page-size="3"
       data-page-list="[5,8,10]"
       data-pagination-first-text="First"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination-last-text="Last">
  <thead>
  <tr>
    <th>Id</th>
    <th data-field="title" data-sortable="true">Title</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td>
          <%= link_to 'Edit', edit_admin_article_path(article), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', admin_article_path(article), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<!--/.main-->