<!--page-title-->
<div class="page-title blog-header" data-stellar-background-ratio="0.2" style="background-position: 0% 8px;">

</div>
<!-- Page Content -->

<div class="container">

  <% @articles.each do |article| %>
      <section class="blog_feed-3 bg-white-smoke">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 text-center blog-post-image">
            <%= cl_image_tag article.photo, class: 'img-responsive' %>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-9">
            <h2 class="blog-post-title text-light"><%= article.title %></h2>
            <h4 class="blog-post-author text-light highlight"><em><%= article.try(:author) %></em></h4>

            <p class="text-xsmall blog-post-date text-light"><em><%= article.created_at.to_formatted_s(:long_ordinal) %></em></p>

            <div class="text-large text-light blog-post-content text-wrapper"><%= simple_format article.text %></div>
            <%= link_to 'Keep Reading', {class: 'text-small', 'title' => 'Read'} do %>

            <% end %>
            <span class="read-more"><%= link_to 'Read more', article_path(article) %>  <i class="fa fa-chevron-circle-right"></i></span>
          </div>
        </div>
      </section>

  <% end %>

  <%= will_paginate @articles, :page_links => false %>
</div>

</div>
</div>