<div class="article-header" data-stellar-background-ratio="0.2" style="background-position: 0% 8px;">

</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <%= cl_image_tag @article.photo, height: '350px', class: 'img-responsive' %>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 article-side-bar">
          <ul class="social list-inline">
            <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
            <li><a href="#" class="twitter"><i class="ion-social-twitter-outline"></i></a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="post">
            <h2><%= @article.title %></h2>
            <p class="lead">Posted <em><%= time_ago_in_words(@article.created_at) %></em></p>
            <div class="tags">

            </div>
            <p class="post-detail">
              <div class="fr-view">
                <%= simple_format(@article.text) %>
              </div>

            </p>
            <div id="disqus_thread"></div>
            <script>
                 var disqus_config = function () {
                 this.page.url = "<%= articles_path %>";
                 this.page.identifier = "<%= @article.id %>";
                 };

                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = '//todidea.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>