<%= link_to 'New Testimonial', new_admin_testimonial_path, class:'btn btn-block btn-primary' %>
<div class="divided-20"></div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">Id</th>
    <th data-field="photo" data-sortable="false">Photo</th>
    <th data-field="name" data-sortable="true">Name</th>
    <th data-field="description" data-sortable="true">Designation</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= testimonial.id %></td>
        <td><%= cl_image_tag(testimonial.photo, height: '60px', width: '60px') %></td>
        <td><%= testimonial.name %></td>
        <td>
          <p id="text-wrapper" class="text-wrapper-admin">
            <%= testimonial.text %>
          </p>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_testimonial_path(testimonial), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', admin_testimonial_path(testimonial), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
      </tr>
  <% end %>
  </tbody>
</table>
