<!-- revolution slider-->

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
  <!-- Loading Screen -->
  <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    <div style="position:absolute;display:block;background:url('../images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
  </div>
  <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
    <div data-p="225.00" style="display: none;">
      <%= image_tag('2015-02-20 16.43.36.jpg',) %>
      <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">TOUCH
        SWIPE SLIDER
      </div>
      <div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">Build
        your slider with anything, includes image, content, text, html, photo, picture
      </div>
    </div>
    <div data-p="225.00" style="display: none;">
      <%= image_tag('blue.jpg', class: 'img-responsive') %>
    </div>
    <div data-p="225.00" style="display: none;">
      <%= image_tag('slide-2.jpg', class: 'img-responsive') %>
    </div>
  </div>
  <!-- Bullet Navigator -->
  <div data-u="navigator" class="jssorb05" style="bottom:16px;right:6px;" data-autocenter="1">
    <!-- bullet navigator item prototype -->
    <div data-u="prototype" style="width:16px;height:16px;"></div>
  </div>
  <!-- Arrow Navigator -->
  <span data-u="arrowleft" class="jssora22l" style="top:123px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
  <span data-u="arrowright" class="jssora22r" style="top:123px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
  <a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
</div>

<!--end-->

<div class="divided-50"></div>




<!--features-->
<div class="container">

  <div class="row margin-bottom-50">
    <% @products.each do |product| %>
        <div class="col-md-4 col-sm-6 margin-bottom-30">
          <div class="features wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms">
            <%= image_tag(product.photo, class: 'img-responsive product-logo') %>
            <h4><%= link_to product.name, controller: 'products', action: 'show', id: product.id %></h4>

            <p>
              <%= product.description %>
            </p>
          </div>

          <!--features end-->
        </div>
    <% end %>

    <!--features col end-->
  </div>
  <!--features row end-->


</div><!--features container end-->
<div class="founder">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="center-heading">Meet the Founders</h3>
          <hr>
        </div>
      </div>
      <div class="col-sm-6 wow animated fadeInLeft" data-wow-duration="700ms" data-wow-delay="200ms">
        <div class="row margin-bottom-20">
          <div class="col-sm-12 section-title">
            <h4>
              Ntamba Shyaka
            </h4>
          </div>
        </div>
        <!--section title row-->
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s
        </p>

        <div class="divided-20"></div>
        <div class="row margin-bottom-30">
          <div class="col-xs-4">
            <%= image_tag 'user.gif', class: 'img-rounded img-responsive' %>
          </div>
          <div class="col-xs-8">
            <div class="team-info">
              <p>
                making it look like readable English. Many desktop publishing packages and web page editors now use
                Lorem Ipsum as their default model text
              </p>

              <p>
              <ul class="social list-inline">
                <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
                <li><a href="#" class="twitter"><i class="ion-social-twitter-outline"></i></a></li>
                <li><a href="#" class="in"><i class="ion-social-linkedin-outline"></i></a></li>
                <li><a href="#" class="dribbble"><i class="ion-social-dribbble-outline"></i></a></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 wow animated fadeInRight" data-wow-duration="700ms" data-wow-delay="200ms">
        <div class="row margin-bottom-20">
          <div class="col-sm-12 section-title">
            <h4>
              Alex Shyaka
            </h4>
          </div>
        </div>
        <!--section title row-->
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s
        </p>

        <div class="divided-20"></div>
        <div class="row margin-bottom-30">
          <div class="col-xs-4">
            <%= image_tag 'user.gif', class: 'img-rounded img-responsive' %>
          </div>
          <div class="col-xs-8">
            <div class="team-info">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s
              </p>

              <p>
              <ul class="social list-inline">
                <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
                <li><a href="#" class="twitter"><i class="ion-social-twitter-outline"></i></a></li>
                <li><a href="#" class="in"><i class="ion-social-linkedin-outline"></i></a></li>
                <li><a href="#" class="dribbble"><i class="ion-social-dribbble-outline"></i></a></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--founder col left end-->

    </div>
  </div>
</div><!--founder end-->


<div class="recent-work">
  <div class="container">
    <div class="row margin-bottom-40">
      <div class="col-sm-12 section-title">
        <h1>
          <small>Recent</small>
          <br>Projects.
        </h1>
      </div>
    </div>
    <!--section title row-->
  </div>
  <div class=" project-full-width-row">
    <div class="container-fluid no-paddding">
      <div class="row no-margin">
        <div class="col-sm-3 no-paddding">
          <div class="img"><img src="images/img-1.jpg" alt="" class="img-responsive">
            <a href="portfolio-single.html" class="over">
              <div class="img-desc">
                <h2>piple Template<span> Web Design</span></h2>
              </div>
            </a>
          </div>
        </div>
        <!--full width col end-->
        <div class="col-sm-3 no-paddding">
          <div class="img"><img src="images/img-2.jpg" alt="" class="img-responsive">
            <a href="portfolio-single.html" class="over">
              <div class="img-desc">
                <h2>piple Template<span> Web Design</span></h2>
              </div>
            </a>
          </div>
        </div>
        <!--full width col end-->
        <div class="col-sm-3 no-paddding">
          <div class="img"><img src="images/img-3.jpg" alt="" class="img-responsive">
            <a href="portfolio-single.html" class="over">
              <div class="img-desc">
                <h2>piple Template<span> Web Design</span></h2>
              </div>
            </a>
          </div>
        </div>
        <!--full width col end-->
        <div class="col-sm-3 no-paddding">
          <div class="img"><img src="images/img-5.jpg" alt="" class="img-responsive">
            <a href="portfolio-single.html" class="over">
              <div class="img-desc">
                <h2>piple Template<span> Web Design</span></h2>
              </div>
            </a>
          </div>
        </div>
        <!--full width col end-->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="more-works">
    <a href="portfolio.html" class="btn btn-lg btn-radius btn-theme-border wow animated bounceIn" data-wow-duration="700ms" data-wow-delay="200ms">See
      all Work</a>
  </div>
</div><!--recent-work-->


<!--<div class="fun-facts container">
  <div class="row">
    <div class="col-sm-6 margin-bottom-30">
      <div class="fact-column wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
        <i class="ion-ios-search"></i>

        <h1>6632</h1>
        <h5>schools reached</h5>
      </div>
    </div>
    fact col end
    <div class="col-sm-6 margin-bottom-30">
      <div class="fact-column wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
        <i class="ion-ios-people-outline"></i>

        <h1>439</h1>
        <h5>happy clients</h5>
      </div>
    </div>
    <!--fact col end-->
    <!--<div class="col-sm-4 margin-bottom-30">
      <div class="fact-column wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="600ms">
        <i class="ion-coffee"></i>

        <h1>65456</h1>
        <h5></h5>
      </div>
    </div>-->
    <!--fact col end

  </div>

</div>fun facts-->

<div class="cta-dark padding-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Get yours now</h2>

        <p>
          It will change your life
        </p>
      </div>
      <div class="col-sm-4">
        <a href="#" class="btn btn-white btn-lg btn-radius"> Order now</a>
      </div>
    </div>
  </div>
</div>

<div class="why-choose">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3 class="center-heading">What other people say</h3>
        <hr>
      </div>
    </div>
    <!--center-heading-->
    <div class="divided-30"></div>
    <div class="row">
      <% @testimonials.each do |testimonial| %>
          <div class="col-sm-6">
            <div class="features-2-box">
              <div class="icon-container">
                <%= image_tag(testimonial.photo, height: '80px', width: '80px', class: 'img img-responsive img-circle') %>
              </div>
              <div class="text-container">
                <p>
                  <b><%= testimonial.name %></b> <em><%= testimonial.designation %></em>
                </p>

                <p>
                  <%= testimonial.text %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
      <!--why choose col end-->

    </div>
  </div>
</div><!--why choose section end-->
<div class="divided-50"></div>
<div class="container">
  <div class="row margin-bottom-40">
    <div class="col-sm-12 section-title">
      <h1>
        <small>From the</small>
        <br>Blog.
        <span class="pull-right"><%= link_to("More News", blog_path, :class => "btn btn-theme-border btn-radius btn-lg wow animated fadeIn", :data => {'wow-duration' => "700ms", 'wow-delay' => "1800ms"}) %></span>
      </h1>
    </div>
  </div>
  <!--section title row-->
  <div class="row">
    <% @articles.each do |article| %>
        <div class="col-sm-4 margin-bottom-30">
          <div class="post">
            <div class="post-thumbnail">
              <%= image_tag(article.photo, class: "img-responsive") %>
            </div>
            <!--post image-->
            <h3 class="post-title"><%= link_to(article.title, :controller => 'blog', action: 'show', id: article.id) %></h3>

            <p id="text-wrapper" class="text-wrapper-home">
              <%= article.text %>
            </p>
        <span class="read-more"><%= link_to('Read more', controller: 'blog', action: 'show', id: article.id) %>
          <i class="ion-ios-arrow-thin-right"></i></span>
          </div>
          <!--post-->
        </div>
    <% end %>

  </div>
</div><!--post container-->

<div class="divided-40"></div>