<div class="divided-20"></div>
<div class="container">
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-sm-4 margin-bottom-30">
      <div class="post">
        <div class="post-thumbnail">
          <%= link_to event do %>
            <%= cl_image_tag event.photo,class: 'img-responsive' %>
          <% end %>
        </div><!--post image-->
        <h3 class="post-title"><%= link_to(event.name, controller: 'events', action: 'show', id: event.id) %></h3>
        <div id="text-wrapper" class="text-wrapper">
          <p>
            <%= simple_format event.description %>
          </p>
        </div>
        <span class="read-more"><em>On <%= event.date.strftime('%B %d, %Y') %></em><%= link_to('Read more', controller: 'events', action: 'show', id: event.id) %><i class="ion-ios-arrow-thin-right"></i></span>
      </div><!--post-->
    </div><!--post col end-->
    <% end %>


  </div>
  <div class="divided-70"></div>
  <div class="row">
    <div class="divided-50"></div>
    <div class="col-sm-12 text-right">
      <nav>
        <%= will_paginate(@events) %>
      </nav>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
      $("#text-wrapper").dotdotdot();
  });
</script>