<div class="divided-20"></div>
<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
        <div class="col-sm-4 col-md-4 col-lg-4 margin-bottom-30">
          <div class="post">
            <div class="">
              <%= link_to project do %>
                  <%= cl_image_tag project.photo, :crop => "fill", :width => 350, :height => 260 %>
              <% end %>
            </div><!--post image-->
            <h3 class="post-title"><%= link_to(project.name, controller: 'events', action: 'show', id: project.id) %></h3>
            <div id="text-wrapper" class="text-wrapper">
              <p>
                <%= simple_format project.description %>
              </p>
            </div>
            <span class="read-more"><em>On <%= project.date.strftime('%B %d, %Y') %></em><%= link_to('Read more', controller: 'projects', action: 'show', id: project.id) %>
              <i class="ion-ios-arrow-thin-right"></i></span>
          </div><!--post-->
        </div><!--post col end-->
    <% end %>
  </div>
  <div class="divided-70"></div>
  <div class="row">
    <div class="divided-50"></div>
    <div class="col-sm-12 text-right">
      <nav>
        <%= will_paginate(@projects) %>
      </nav>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $("#text-wrapper").dotdotdot();
  });
</script>