<%= link_to 'New Product', new_admin_product_path, class:'btn btn-block btn-primary' %>
<div class="divided-20"></div>
<table id="table" class="table">
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">Id</th>
    <th data-field="photo" data-sortable="false">Photo</th>
    <th data-field="name" data-sortable="true">Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= cl_image_tag(product.photo, height: '60px', width: '60px') %></td>
        <td><%= product.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', admin_product_path(product), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
      </tr>
  <% end %>
  </tbody>
</table>
