<%= simple_form_for([:admin, @person]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.association :team %>
      <label>Photo</label>
      <%= f.input_field :photo, as: :file %>
      <%= f.input_field :stories, {'id' => 'text'} %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
<div class="divided-20"></div>
<script>
  $('.text').froalaEditor({
    inlineMode: false,
    minHeight: 200,
    //toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle',,'image', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
    plainPaste: true,
    /*imageUploadURL: "https://api.cloudinary.com/v1_1/" + cloud_name + "/auto/upload",
     imageUploadParams: {
     upload_preset: unsigned_preset,
     api_key: api_key
     }*/
    imageUploadToS3: {
      bucket: 'todidea',
      // Your bucket region.
      region: 's3-eu-west-1',
      keyStart: 'uploads/',
      callback: function (url, key) {
        // The URL and Key returned from Amazon.
        console.log (url);
        console.log (key);
      },
      params: {
        acl: 'public-read', // ACL according to Amazon Documentation.
        AWSAccessKeyId: '<%= @hash[:access_key] %>', // Access Key from Amazon.
        policy: '<%= @hash[:policy] %>', // Policy string computed in the backend.
        signature: '<%= @hash[:signature] %>' // Signature computed in the backend.
      }
    }

  });
</script>