<%= link_to 'New Person', new_admin_person_path, class: 'btn btn-block btn-primary' %>
<div class="divided-20"></div>

<table id="table"
       data-toggle="table"
       data-height="550"
       data-pagination="true"
       data-page-size="5"
       data-page-list="[5,8,10]"
       data-pagination-first-text="First"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination-last-text="Last">
  <thead>
  <tr>
    <th data-field="title" data-sortable="true">Photo</th>
    <th data-field="person" data-sortable="true">Name</th>
    <th data-field="category" data-sortable="true">About</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td><%= cl_image_tag person.photo, width: '50px', height: '50px' %></td>
        <td><%= person.name %></td>
        <td>
          <div style="overflow-y: auto">
            <p>
              <%= simple_format person.about %>
            </p>
          </div>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_person_path(person), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Delete', admin_person_path(person), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
