<!--page-title-->
<div class="page-title blog-header" data-stellar-background-ratio="0.2" style="background-position: 0% 8px;">

</div>
<!-- Page Content -->

<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 col-lg-offset-2">
      <% @articles.each do |article| %>
          <!-- First Blog Post -->
          <div class="post">
            <%= image_tag(article.photo, class: 'img-responsive') %>
            <p class="lead">

            <h2>
              <%= link_to article.title, {controller: 'blog', action: 'show', id: article.id} %>
            </h2>
            </p>

            <p>Posted <i class="ion ion-calendar"></i> <%= article.created_at.strftime('%B %d, %Y') %></p>

            <hr>
            <div class="text-wrapper" id="text-wrapper">
              <p class="post-detail"><%= article.text %></p>
            </div>

            <!--<p>

            </p>-->
            <%= link_to('Read more ', {controller: 'blog', action: 'show', id: article.id}, class: 'read-more') %>

            <hr>
          </div>
      <% end %>

      <%= will_paginate @articles, :page_links => false %>
      <!-- Pager
      <ul class="pager">
        <li class="previous">
          <a href="#">&larr; Older</a>
        </li>
        <li class="next">
          <a href="#">Newer &rarr;</a>
        </li>
      </ul>
      -->
    </div>

  </div>
</div>