<%= link_to 'New Team', new_admin_team_path, class: 'btn btn-block btn-primary' %>
<div class="divided-20"></div>
<table id="table"
       data-toggle="table"
       data-height="550"
       data-pagination="true"
       data-page-size="5"
       data-page-list="[5,8,10]"
       data-pagination-first-text="First"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination-last-text="Last">
  <thead>
  <tr>
    <th data-field="name" data-sortable="true">Name</th>
    <th data-field="number_of_people" data-sortable="true">People</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <div style="overflow-y: auto">
            <p>
              <%= team.persons.count %>
            </p>
          </div>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_team_path(team), class: 'btn btn-primary btn-sm' %>

          <%= link_to 'Delete', admin_team_path(team), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
