<div class="divided-30"></div>
<div class="row">
  <div class="container">
    <div class="col-lg-12 ">

      <%= cl_image_tag @product.photo, height: '200px' %>

      <div class="product-details">
        <div class="fr-view">
          <%= simple_format @product.description %>
        </div>
        <div class="row white centered">
          <% if @team %>
              <h3 STYLE="text-align: center; font-weight: bold;">EDUTAB TEAM</h3>
              <hr>
              <br>
              <% @team.each do |member| %>
                  <div class="col-lg-3 centered" style="text-align: center">
                    <%= cl_image_tag member.photo, width: '120px', height: '120px', class: 'img img-circle' %>
                    <br>
                    <h4><b><%= member.name %></b></h4>
                    <a href="#" class="icon icon-twitter"></a>
                    <a href="#" class="icon icon-facebook"></a>
                    <a href="#" class="icon icon-flickr"></a>

                    <p><%= simple_format member.about %></p>
                  </div>
                  <!-- col-lg-3 -->
              <% end %>
          <% end %>
          <!-- col-lg-3 -->
          <div class="divided-30"></div>
          <% if @gallery %>
              <h3 class="center-heading">Gallery</h3>

              <div id="animated-thumbnails">
                <% @gallery.each do |photo| %>
                    <a href="<%= photo.photo %>" data-sub-html="<%= simple_format photo.caption %>">
                      <img src="<%= photo.photo %>" width="250px"/>
                    </a>
                <% end %>
              </div>
          <% end %>
        </div>

        <div class="divided-20"></div>
        <div class="panel-group" id="accordion">
          <div class="faqHeader">Frequently Asked Questions</div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What's
                  contained in the EduTab</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul>
                  <li>
                    <b>App</b> <br> These provide gamified, interactive hence multi-sensory learning for your child- the
                    best way of learning!
                  </li>
                  <li>
                    <b>Videos</b> <br> Compelling ,Engaging and controllable to ensure "self paced learning ", a wonder
                    of
                    digital
                    learning because of it's ability to ensure mastery at topics. Mastery at topics is the bedrock of
                    education.
                  </li>
                  <li>
                    <b>Books</b> <br> Today's readers are tomorrow's leaders! To ensure kids derive inspiration from
                    books, we have
                    installed of manner of digital books on the EduTab . The should get the children reading in no time.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What
                  age group does the EduTab cover?</a>
              </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>The EduTab covers age groups with educational content that allows the child to grow with it. The age
                  groups are as follows:</p>
                <ul style="list-style-type: lower-alpha">
                  <li>2 years to Top Class of Nursery</li>
                  <li>Lower Primary: P1- P3</li>
                  <li>Upper Primary: P4-P7</li>
                  <li>Secondary: S1-S6</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Does
                  the EduTab host any proprietary Apps?</a>
              </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
              <div class="panel-body">
                Yes! Proprietary content is more comprehensive and therefore is more sought after. Our commitment to
                ensuring the best educational experience means that the EduTab is loaded with proprietary educational
                material which we invest our financial resources to make sure your child gets.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Does
                  the EduTab require internet to run?</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                NO; Our model is an OFFLINE model because most parents are not comfortable with unsanctioned access to
                the
                internet by their children also, the cost implications associated with studying online are high
                especially
                if one is streaming video. Being OFFLINE mades the EduTab safe and cost effective.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What
                  comes in the box?</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Charger, Stand, USB cable, free screen guard, stylus
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Any
                  accessories?</a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                Headphones for focused learning (40,000/=) and Protective Rubber Jacket (20,000/=)
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Do
                  you have repair in case of damage?</a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                Yes! We have a very responsive and fast aftersales service repairing almost everything on the EduTab in
                case of any physical damage.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Any
                  warranty?</a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
                Not on physical damage as we are dealing with kids here. We however try to mitigate physical damage by
                offering protective rubber jackets to better handling and reduce impact incase of falls. We sell them as
                accessories.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What
                  if my child outgrows the educational content for his/her age group?</a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                You just bring your EduTab over and we delete what's there and we upload new appropriate content for a
                very small fee.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Do
                  you have an EduTab that uses sim card?</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">Yes; We usually refer to this as the Secondary EduTab although we have had clients
                ask us to customise this for Primary. The EduTab with sim card gives the learner more access to the
                world's learning materials through the internet and give more independence too. Caution must be taken by
                the parents/guardians to ensure responsible internet use.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Anything
                  Special for Diaspora Parents?</a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                Yes; The EduTab with a simcard can be loaded with "face time " "WhatsApp"," Skype" etc Apps that ensure
                they keep in touch with their children. This can be comforting and inspiring for both parties.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
