<div class="divided-30"></div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= cl_image_tag @product.photo, height: '200px' %>
    <div class="product-details">
      <div class="fr-view">
        <%= @product.description %>
      </div>
      <% if @team.present? %>
          <div class="row white centered">
            <h1 STYLE="text-align: center">TECH KIDS TEAM</h1>
            <hr>
            <br>
            <% @team.each do |member| %>
                <div class="col-lg-3 centered" style="text-align: center">
                  <%= cl_image_tag member.photo, width: '120px', height: '120px', class: 'img img-circle' %>
                  <br>
                  <h4><b><%= member.name %></b></h4>
                  <a href="#" class="icon icon-twitter"></a>
                  <a href="#" class="icon icon-facebook"></a>
                  <a href="#" class="icon icon-flickr"></a>

                  <p><%= simple_format member.about %></p>
                </div>
                <!-- col-lg-3 -->
            <% end %>
            <!-- col-lg-3 -->

          </div>
      <% end %>
    </div>
  </div>
</div>