<div class="row">
  <div class="container">
    <div class="col-lg-12">
      <%= cl_image_tag @product.photo, height: '200px' %>
      <div class="product-details">
        <p class="fr-view">
          <%= simple_format @product.description %>
        </p>
      </div>


      <% if @gallery %>
          <h3 class="center-heading">Gallery</h3>

          <div id="animated-thumbnails">
            <% @gallery.each do |photo| %>
                <a href="<%= photo.photo %>" data-sub-html="<%= simple_format(photo.caption).html_safe %>">
                  <img src="<%= photo.photo %>" width="250px"/>
                </a>
            <% end %>
          </div>
      <% end %>

    </div>
  </div>
</div>
<div class="divided-20"></div>