<li class=""><%= link_to admin_products_path do %>
      <span class="fa fa-dashboard"></span>&nbsp;&nbsp; Products
  <% end %>
</li>
<li class=""><%= link_to admin_events_path do %>
      <span class="fa fa-newspaper-o"></span>&nbsp;&nbsp; Events
  <% end %>
</li>
<li class=""><%= link_to admin_articles_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp; Articles
  <% end %>
</li>
<li class=""><%= link_to admin_testimonials_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;Testimonials
  <% end %>
</li>
<li class=""><%= link_to admin_projects_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;Projects
  <% end %>
</li>
<li class="nav-item"><%= link_to admin_categories_path, class:'nav-link' do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp; Categories
  <% end %>
</li>
<li class=""><%= link_to admin_tags_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;Tags
  <% end %>
</li>
<li class=""><%= link_to admin_teams_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;Teams
  <% end %>
</li>
<li class=""><%= link_to admin_people_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;People
  <% end %>
</li>
<li class=""><%= link_to admin_galleries_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;Galleries
  <% end %>
</li>
<li class=""><%= link_to admin_photos_path do %>
      <span class="fa fa-file-text"></span>&nbsp;&nbsp;Photos
  <% end %>
</li>