<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <div class="container">
    <div class="nav-header hidden-sm-up">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
      <%= link_to root_path do %>
          <%= image_tag("TODIDEA LOGO main-01.png", height: '50px', class: 'navbar-brand ', alt: "") %>
      <% end %>
    </div>

    <div class="nav-header">
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

        <%= link_to root_path do %>
            <%= image_tag("TODIDEA LOGO main-01.png", height: '50px', class: 'navbar-brand hidden-xs-down', alt: "") %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to("Home", root_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to("Products", products_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to("Events", events_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to("Blog", articles_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to("Contact", contact_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to("Our Story", our_story_path, class: 'nav-link') %>
          </li>
        </ul>
      </div>
    </div>


  </div>
</nav>
<div class="divided-60"></div>
